<!DOCTYPE html>
<html lnag="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
<meta name="title" content="Naviagor SIMS | Log-In">
<meta name="language" content="English">
<title><%= title %></title>
<link rel="stylesheet" href="/login.css">
</head>
</html>
