<!DOCTYPE html>
<html lnag="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
<meta name="title" content="Naviagor SIMS | Log-In">
<meta name="language" content="English">
<title><%= title %></title>
<link rel="stylesheet" href="/login.css">
</head>
<body background-image: url('/schoollogo.png');>
<div id="login-main">
<h1>Navigator SIMS | Login</h1>
<div class="box-divder1"></div>
<form id="login-main-box">
<label for="username">Username</label>
<input type="text" id="username-input" name="username" placeholder="Account Username">
<label for="password">Password</label>
<input type="password" id="password-input" placeholder="Account Password">
</form>
<div class="box-divder1"></div>
<a id="discord-button" href="/auth/login/discord"><img id="discord-logo" href="/disocrd.png"></a>
</div>
</body>
</html>
