<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
        <title><%= title %></title>
        <link rel="stylesheet" href="/waitlist.css">
    </head>
    <body>
        <form id="wait-list=form">
            <p>Insert your discord username so we can send you updates of our BETA and when we release through our discord bot.</p>
        </form>
    </body>
</html>
